.box {
  position: relative; /*Important if you want to animate relative*/
  width: 100px;
  height: 100px;
  margin: 4px;
  display: inline-block;
}

.green {
  background-color: #00ff00;
}
.red {
  background-color: #ff0000;
}
.blue {
  background-color: #0000ff;
}
.yellow {
  background-color: #ffff00;
}
